# Don't change the line below!
# oxygen_storefront_id: 1000082807

name: Storefront 1000082807
on: [push]

permissions:
  contents: read
  deployments: write

jobs:
  deploy:
    name: Deploy to Oxygen
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 'lts/*'
          check-latest: true

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Build and Publish to Oxygen
        id: deploy
        run: |
          npx shopify hydrogen deploy --force --auth-bypass-token --token "${{ secrets.OXYGEN_DEPLOYMENT_TOKEN_1000082807 }}"
          echo "AUTH_BYPASS_TOKEN=$(jq -r '.authBypassToken' h2_deploy_log.json)" >> $GITHUB_ENV
          echo "DEPLOYMENT_URL=$(jq -r '.url' h2_deploy_log.json)" >> $GITHUB_ENV

      - name: Run end-to-end tests
        id: end-to-end-tests
        uses: ./.github/actions/end-to-end-tests
        with:
          url: ${{ env.DEPLOYMENT_URL }}
          auth-bypass-token: ${{ env.AUTH_BYPASS_TOKEN }}
